
h1{
    font-family: Avenir Roman,sans-serif;
    color: rgb(0, 128, 255);
    font-size: 64px;
}

h2{
    font-family: Avenir Roman,sans-serif;
    color: white;
    font-size: 30px;

}

h3{
    font-family: Avenir Roman,sans-serif;
    margin-top: -5px;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
h4{
    font-family: Avenir Roman,sans-serif;
    margin-top: -5px;
    color: white;
    font-weight: bold;
    font-size: 42px;

}


nav a{
    color: white;
}

a {
    text-decoration: none;
    font-family: Avenir Roman,sans-serif;
    color: white;
}

a:hover{
    text-decoration: underline;
}

button{
    border: none;
    position: static;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: -2%;
}

div{
    font-weight: bold;
}

#buttonlink{
    color: white;
    background-color: rgb(0, 128, 255);
    font-size: 20px;  
    padding: 15px;
    border-radius: 8px;
}

#buttonlink:hover{
    text-decoration:none;
    background-color: rgb(0, 50, 125);
}

.login{
    font-weight: bold;
}

#background{
    position: fixed;
    z-index:-5;
}

.center-screen{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 350px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

.center-text{
    display: flex;
    justify-content: center;
}

main{
    margin-top: 5%;
}

input{
    margin: 20px;
    font-family: Avenir Roman,sans-serif;
    padding: 20px;
    background-color:rgb(41, 41, 41);
    border-radius: 4px;
    border-style: none;
    color: white;
}

#gird{
    display: grid;
}

#registreren{
    min-width: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.abonnementLink{
    margin-top: 20px;
}

.abonnementLink  input{
    margin-top: -20px;
    text-align: left;
    display:inline;
}

#login{
    display: flex;
    justify-content: center;
}

label{
    font-family: Avenir Roman,sans-serif;
    color: white;
}

.films{

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);

}
.films img:hover {
    opacity: .5;
}

select{
    margin: 20px;
    font-family: Avenir Roman,sans-serif;
    padding: 20px;
    background-color:rgb(41, 41, 41);
    border-radius: 4px;
    border-style: none;
    color: white;
}

.logo{
    position: absolute;
    margin: 30px;
}
.lego_movie{
text-align: center;
}
.lego_movie img:hover {
opacity: .5;
}

.abonnementen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.abonnement h2{
    color: rgb(0, 128, 255);;
}

.abonnement h3{
    color: rgb(0, 78, 155);;
}