
h1{
    font-family: Avenir Roman,sans-serif;
    color: rgb(0, 128, 255);
    font-size: 64px;
}

h2{
    font-family: Avenir Roman,sans-serif;
    color: white;
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
}

h3{
    font-family: Avenir Roman,sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin:0;
}

p{
    color:white;
    font-family: Avenir Roman,sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-family: Avenir Roman,sans-serif;
    color: white;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

input{
    margin: 20px;
    font-family: Avenir Roman,sans-serif;
    padding: 20px;
    background-color:rgb(41, 41, 41);
    border-radius: 4px;
    border-style: none;
    color: white;
    box-sizing:border-box;
}

input.buttonlink{
    font-weight: bold;
}

button{
    border: none;
    position: static;
    padding: 15px;
    font-weight: bold;
    border-radius: 8px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.buttonlink{
    color: white;
    text-align: center;
    background-color: rgb(0, 128, 255);
    font-size: 20px;  
    padding: 15px;
    border-radius: 8px;
}

.buttonlink:hover{
    text-decoration:none;
    background-color: rgb(0, 50, 125);
}

.centertext{
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

#homepagetext{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}
.bg{
    background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}

.homeImg{
    background-image: url('../img/homepage_background.jpg');
}

.overonsImg{
    background-image: url('../img/OverOns_background.jpg');
}

.loginImg{
    background-image: url('../img/login_background.jpg');
}

@media only screen and (max-width: 600px){
    h1{
        font-family: Avenir Roman,sans-serif;
        color: rgb(0, 128, 255);
        font-size: 32px;
    }
    .buttonlink{
        font-size: 10px;
    }
    nav{
        margin-left:5px;
    }
}

div.link{
    margin-top: 20px;
    height: 40px;
}

.blackbg{
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
    width: 500px;
}


.overons{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.login{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.abonnementen{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.filter{
    max-width: 200px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.abonnement h2{
    color: rgb(0, 72, 255);
}

.abonnement h3{
    color: rgb(0, 153, 255);
}

.registreren{
    min-width: 1000px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    width: 100px;
}

label{
    font-family: Avenir Roman,sans-serif;
    color: white;
}

select{
    margin: 20px;
    font-family: Avenir Roman,sans-serif;
    padding: 20px;
    background-color:rgb(41, 41, 41);
    border-radius: 4px;
    border-style: none;
    color: white;
}
.back{
    
margin-top: 50px; 
margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
  }
  

td, th {
    border: 1px solid #dddddd;
    border-style: none none solid none;
    padding: 8px;
  }

th.item{
    border-style: none solid solid solid;
}

th:nth-child(even){
    border-style: none none solid none;
}
.films{
margin: 0 20px;
}

.filmbg{
    background-image: url("../img/filmbg.jpg");
}

.footer {
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5); 
    
  }
  
  .footer-text-left {
    text-align: center;
    font-size:25px;
    padding-left:40px;
    word-spacing:20px;
  }
  .blauw{
    font-family: Avenir Roman,sans-serif;
    color: rgb(0, 128, 255);
    font-size: 15px;
}

.error {
    width: 50%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 3px solid #a70300; 
    color: #ff0400; 
    background: #ff3131; 
    border-radius: 5px; 
    text-align: center;
}


.videoPlayerGrid {
    background-color:rgba(0, 0, 0, 0.8);
    opacity: 1;
    display: grid;
    grid-template-areas: 'Title Title Title Title' 'Player Player Player Info' 'Discript Discript Discript Distcrip';
    align-content: center;
    height: 100%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.moviePlayer {
    grid-area: Player;
    height: 500px;
}

.movieTitle {
    grid-area: Title;
}

.movieInfo {
    grid-area: Info;
}

.movieDiscription {
    grid-area: Discript;
}

.wit{
color: white;
font-family: Avenir Roman,sans-serif;
font-size: 18px;
}

.filter-order{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.buttonLogOut{
    color: white;
    text-align: center;
    background-color: rgb(255, 0, 0);
    font-size: 20px;  
    padding: 15px;
    border-radius: 8px;
}

.accountForm {
    margin-top: 6%;
    text-align: center;
}

.centertext_link {
    text-align: center;
    margin-top: 5%;
}